@import url("https://fonts.googleapis.com/css?family=M+PLUS+1p&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noticia+Text&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 18px; }

h1 {
  font-family: "M PLUS 1p", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 99px;
  line-height: 118px; }

h2 {
  font-family: "M PLUS 1p", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 80px; }

h3 {
  font-family: "M PLUS 1p", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 67px; }

h4 {
  font-family: "M PLUS 1p", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem; }

h5 {
  font-family: "M PLUS 1p", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 40px; }

h6 {
  font-family: "M PLUS 1p", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 27px; }

.text-small {
  font-family: "M PLUS 1p", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 26px; }

.text-small-bold {
  font-family: "M PLUS 1p", sans-serif Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 26px; }

.text-regular {
  font-family: "M PLUS 1p", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 29px; }

.text-regular-bold {
  font-family: "M PLUS 1p", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 1rem;
  line-height: 29px; }

.text-medium {
  font-family: "M PLUS 1p", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 32px; }

.text-medium-bold {
  font-family: "M PLUS 1p", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 1.1rem;
  line-height: 32px; }

.text-large {
  font-family: "M PLUS 1p", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 35px; }

.text-large-bold {
  font-family: "M PLUS 1p", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 1.2rem;
  line-height: 35px; }

.quote-large {
  font-family: "Noticia Text", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 2rem;
  line-height: 64px;
  display: flex;
  align-items: center; }

.quote-small {
  font-family: "Noticia Text", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 22.5px;
  line-height: 40px;
  display: flex; }

.title-small {
  font-family: "M PLUS 1p", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 12.6px;
  line-height: 26px;
  letter-spacing: 6px;
  text-transform: uppercase; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: auto;
  overflow-x: hidden; }

.header__banner--image {
  position: relative;
  height: 100%;
  width: 100%; }

.header__navbar {
  background: rgba(21, 4, 51, 0.8);
  position: absolute;
  width: 100%;
  height: 70px;
  top: 0;
  display: flex;
  font-weight: bold; }
  .header__navbar--logo {
    font-family: "M PLUS 1p", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 43px;
    letter-spacing: 2px;
    margin-top: 12px;
    padding-right: 250px;
    padding-left: 100px; }

.nav-links {
  list-style: none;
  margin-top: 20px; }

.nav-links li {
  display: inline-block;
  padding: 0px 30px; }

a {
  color: white;
  text-decoration: none;
  font-family: "M PLUS 1p", sans-serif; }

.fas {
  margin-top: 20px;
  padding: 0px 50px;
  color: white; }

.header__slogan {
  position: relative;
  top: -35rem;
  left: 5rem;
  color: white; }
  .header__slogan--small-text {
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 30px; }

span {
  color: #F61067; }

.border {
  border-left: 0; }

.regular-text {
  position: absolute;
  top: 28rem;
  border: 1px solid #F4F4ED;
  border-left: 0;
  border-spacing: 10px;
  padding: 20px 0 20px 0;
  width: 55%;
  text-align: center;
  bottom: 21rem;
  color: #FCFCFC;
  padding-bottom: 50px; }

.box-2 {
  position: relative;
  top: -30.9rem;
  width: 50px;
  height: 50px;
  border: 1px solid #FCFCFC;
  border-radius: 50%;
  left: 38rem; }

.arrow-2 {
  text-align: center;
  font-size: 20px;
  margin-top: 1rem;
  color: #FCFCFC; }

.small-text {
  transform: rotate(90deg);
  color: #FCFCFC;
  text-transform: uppercase;
  position: absolute;
  right: 2rem;
  top: 10rem; }

.arrow-box {
  margin: 30px;
  padding: 10px;
  border: 1px solid #FCFCFC;
  width: 50px;
  height: 2px;
  border-radius: 30px;
  position: relative;
  left: 15rem;
  bottom: 3rem; }

.arrow-1 {
  font-size: 28px;
  position: relative;
  top: -.9rem;
  text-align: center; }

section.blank {
  background-color: #150433 !important;
  width: 100%;
  height: 30%; }
  section.blank .blank--content {
    color: #FFF; }
