@import url("https://fonts.googleapis.com/css?family=M+PLUS+1p&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noticia+Text&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 18px; }

h1 {
  font-family: "M PLUS 1p", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 99px;
  line-height: 118px; }

h2 {
  font-family: "M PLUS 1p", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 80px; }

h3 {
  font-family: "M PLUS 1p", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 67px; }

h4 {
  font-family: "M PLUS 1p", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem; }

h5 {
  font-family: "M PLUS 1p", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 40px; }

h6 {
  font-family: "M PLUS 1p", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 27px; }

.text-small {
  font-family: "M PLUS 1p", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 26px; }

.text-small-bold {
  font-family: "M PLUS 1p", sans-serif Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 26px; }

.text-regular {
  font-family: "M PLUS 1p", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 29px; }

.text-regular-bold {
  font-family: "M PLUS 1p", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 1rem;
  line-height: 29px; }

.text-medium {
  font-family: "M PLUS 1p", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 32px; }

.text-medium-bold {
  font-family: "M PLUS 1p", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 1.1rem;
  line-height: 32px; }

.text-large {
  font-family: "M PLUS 1p", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 35px; }

.text-large-bold {
  font-family: "M PLUS 1p", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 1.2rem;
  line-height: 35px; }

.quote-large {
  font-family: "Noticia Text", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 2rem;
  line-height: 64px;
  display: flex;
  align-items: center; }

.quote-small {
  font-family: "Noticia Text", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 40px;
  display: flex; }

.logo {
  font-family: "M PLUS 1p", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 43px;
  letter-spacing: 2px; }

.text-misc {
  font-family: "M PLUS 1p", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12.6px;
  line-height: 28px;
  letter-spacing: 1px; }

.title-small {
  font-family: "M PLUS 1p", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 12.6px; }

.u-text-center {
  text-align: center; }

.u-margin-top-medium {
  margin-top: 6rem; }

.footer-section {
  padding: 7rem;
  background-color: #30124E;
  color: #FCFCFC;
  overflow: hidden; }

.menu {
  display: flex; }
  .menu a {
    text-decoration: none;
    color: #FCFCFC; }
  .menu li {
    list-style: none; }
  .menu__item {
    flex-direction: column;
    padding: 0 3rem 0 3rem;
    font-family: Mplus 1p Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 12.6px;
    line-height: 28px;
    letter-spacing: 1px; }
    .menu__item--primary {
      letter-spacing: .4rem;
      white-space: nowrap;
      text-transform: uppercase;
      display: inline-block;
      border-bottom: 0.01rem solid #F61067;
      line-height: 2; }
    .menu__item--secondary {
      padding-top: 1rem;
      margin: auto; }
    .menu__item--contact-icons {
      display: flex;
      flex-direction: row; }
      .menu__item--contact-icons a {
        text-decoration: none;
        list-style: none;
        color: white; }
        .menu__item--contact-icons a:not(:first-child) {
          padding-left: 2rem; }

@media (max-width: 1364px) {
  .menu__item {
    flex-direction: column;
    padding: 0 .6rem 0 .6rem; }
    .menu__item:nth-child(2) {
      padding-right: 0.6rem; }
    .menu__item:last-child {
      padding-left: 0; }
    .menu__item--primary {
      letter-spacing: .2rem; }
  .footer-section {
    font-size: 0.7rem;
    flex-wrap: wrap;
    padding: 1rem;
    font-size: 0.7rem; }
  .row {
    display: flex;
    flex-flow: column-wrap;
    justify-content: center;
    align-content: center; } }

section.blank {
  background-color: #150433 !important;
  width: 100%;
  height: 30%; }
  section.blank .blank--content {
    color: #FFF; }
