//For Desktop responsiveness view
$desktop:1201px;
//For Tablet responsiveness view
$tablet:840px;
//For Mobile responsiveness view
$mobile:839px;
// Colors
$color-primary: #F61067;
$color-secondary-100:#5E239D;
$color-secondary-200:#3A0475;
$color-secondary-300:#30124E;
$color-secondary-400:#150433;
$color-tertiary:#00F0B5;
$color-tertiary-light:#6DECAF;
$color-white:#FCFCFC;
$color-light-grey:#F4F4ED;
$text-color-headers:#30233D;`
$text-color-main-text:#776C82;
$text-color-grey:#9B94A3;
$color-error:#F0002B;
$color-success:#10F65E;
$color-warning:#F67110;
$color-info:#00A8F0;
//fonts
$default-font-family:'M PLUS 1p',
sans-serif;
$default-font-family-quote: 'Noticia Text',
serif;
//shadow
$violet-shadow: 0px 8px 64px rgba(94, 35, 157, 0.25);
$green-shadow:0px 8px 64px rgba(0, 240, 181, 0.25);
$pink-shadow:0px 8px 64px rgba(246, 16, 103, 0.25);

// border
