body{
  width: 100%;
  height: auto;
  overflow-x: hidden;
}
.client{
&__background{
  padding-left: 5rem;
  padding-top: 5rem;
}
&__title{
  text-transform: uppercase;
  color: $color-primary;
}
  &__body{
    color: $color-secondary-400;
    font-weight: 800;
    line-height: 1.5;
    margin-bottom: 3rem;
  }
}

.container{
    float: left;
}
.blue__bg{background-color: $color-secondary-400;
  width: 50%;

 &--title{
   text-align: center;
    color: $color-primary;
    padding: 2rem 0rem;
    margin-top: 2rem;
    
  }
  &--text{
    color: $color-white;
    text-align: justify;
    padding-right:4rem;
    padding-left:4rem;
  }
}

.logo{
  margin-left: 6rem;
}
.conta

.client__banner{
  background-color: $color-secondary-300;
  width: 100%;
  color: $color-white;
  padding: 6rem;
    &--title{
    text-transform: uppercase;
    color: $color-primary;
    margin-bottom: 2rem;}
    &--text{
      margin-bottom: 3rem;
      }
}
.col-sm{
  padding: 2rem;
  border: 1px solid $color-white;
  margin-right: 3rem;
  font-weight: 300;
  &:hover{
    background: $color-primary;
    color: white;
  }
}
  .card__number{
    color: $color-primary;
    font-weight: 800;
    font-family: $default-font-family;
    .card__title{
      font-family: $default-font-family;
      font-weight: bold;

    }
  }