
.section-what-we-do {
 
}
.col-3{
  text-align: center;
  display: none;
}
    .what-we-do {
      margin: 5rem 13rem;
      padding: 4rem 0 2rem 0;
    }
    .col-heading{
    &__primary1{
      margin:5rem 4rem;
    }
    &__secondary2{
  
        padding: 5rem 6rem 1rem 6rem;;
}
&__secondary2:last-child{
  padding-bottom: 3rem ;
}
    }
.what-we-do-image-1{
    background-image: linear-gradient(to right bottom, rgba($color-primary, 0.9), rgba($color-primary, 0.9)), url('https://res.cloudinary.com/john-pels/image/upload/v1568628410/team-rebel/Home-02/left-side.png');
    background-blend-mode: multiply;
    height: 133%;
    position: absolute;
    z-index: 2;
    top:-11rem;
    right:-23rem;
}
.text-pink{
  color:$color-primary;
}
#client-img{

 width: 100%;
}
.what-we-do-image-2{
  background-image: linear-gradient(to right bottom, rgba($color-primary, 0.9), rgba($color-primary, 0.9)), url('https://res.cloudinary.com/john-pels/image/upload/v1568628410/team-rebel/Home-02/left-side.png');
  background-blend-mode: multiply;
  height: 133%;
  position: absolute;
  z-index: 2;
  top: -11rem;
  right: -25.7rem;
}
#row-what-we-do{
  position: relative;
}
.background-purple-dark{
  background-color: $color-secondary-400;
  color: $color-white;
}
.background-purple-light{
  background-color: $color-secondary-300;
  color: $color-white;

}
.background-purple-lighter{
  background-color:$color-secondary-100;
  color: $color-white;

}
.background-pink{
  background-color: $color-primary;
  color: $color-white;

}
@include mobile{
  .col-heading__primary1{
    display: none;
  }
  .col-heading__primary1{
margin: 0;
  }
}
@include breakpoint (sm){
  .what-we-do-image-1 {
    display: none;
  }
  .what-we-do-image-2{
    display: none;
  }
  .col-3{
    text-align: center;
    display: block;
  }
}
.border-white{
 border: 1rem solid $color-white;
}

.zoom{
  transform: translateX(-20px)
}
.what-we-do-image-3{
  background-image: url('https://res.cloudinary.com/john-pels/image/upload/v1568628267/team-rebel/About-03/Home_01_first_image.png');

  height: 121.5%;
  position: absolute;
  z-index: 2;
  top: -10rem;
  right: -23.7rem;
}
