



.section-what-we-do {
  overflow-x: hidden;
}

.what-we-do {
  margin: 0 6rem 3rem 6rem;

  &--image {
    background-image: linear-gradient(to right bottom, rgba($color-primary, 0.9), rgba($color-primary, 0.9)), url('https://res.cloudinary.com/john-pels/image/upload/v1568628410/team-rebel/Home-02/left-side.png');
    background-blend-mode: multiply;
    margin-top: -10rem;

  
  }

  &__primary {
    color: $color-primary;
    text-transform: uppercase;
    line-height: 26px;
    letter-spacing: .2rem;
  }
}

.row {
  flex-wrap: nowrap;

  &-primary {
    background-color: $color-secondary-100;

  }

  &-secondary {
    background-color: $color-secondary-300;

  }

  &-tertiary {
    background-color: $color-secondary-200;
  }
}


.row__container {
  &--text {
    display: flex;
    flex-direction: row;
    text-align: center;


  }
}

.row-container {
  display: flex;
  flex-direction: column;

  &__col {
    display: flex;
    flex-direction: row;
    text-align: center;
    text-emphasis: center;
    color: $color-white;

  }
}

.col-heading {
  &__primary {

    margin: 4rem 6rem;

  }

  &__secondary {

    margin: 4rem 4rem 3rem 4rem;
  }
}

@include breakpoint(ss){



#row-what-we-do{
  flex-wrap: wrap;

}
.row_container{
  margin: 2rem;
  flex-wrap: wrap;
 }


 .what-we-do{
  margin: 0 2rem;
  &--image{
    display: none;
  }
 
 
}
.row{
  flex-flow: wrap;
}

.col-heading{
&__primary {
  margin: 2rem 0rem;
}
&__secondary {
  margin: 1rem 4rem;
}
}
.what-we-do {
  margin: 0 2rem;
}


}
