
            
     
<div class="about-container">
     <header class="about-header d-flex flex-column">
        <div class="about-header__top d-flex justify-content-between align-items-start">
            <h3 class="about-header__top__logo">Lopper</h3>
            <nav class="about-nav d-flex justify-content-between">
                <ul class="about-nav__list d-flex flex-row justify-content-around align-items-start">
                    <li class="about-nav__home myDIV list--style"><a class="about-link" href="">Home</a></li>
                    <li class="about-nav__services list--style"><a class="about-link" href="">Services</a></li>
                    <li class="about-nav__work list--style"><a class="about-link" href="">Work</a></li>
                    <li class="about-nav__about list--style"><a class="about-link" href="">About</a></li>
                    <li class="about-nav__number list--style"><a class="about-link" href="">
                        <svg width="3vmin" height="3vmin" viewBox="0 0 18 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.6 5.4V18.9H5.4V5.4H12.6ZM15.3 0H2.7C1.20938 0 0 1.20938 0 2.7V26.1C0 27.5906 1.20938 28.8 2.7 28.8H15.3C16.7906 28.8 18 27.5906 18 26.1V2.7C18 1.20938 16.7906 0 15.3 0ZM2.7 27C2.205 27 1.8 26.595 1.8 26.1V2.7C1.8 2.205 2.205 1.8 2.7 1.8H15.3C15.795 1.8 16.2 2.205 16.2 2.7V26.1C16.2 26.595 15.795 27 15.3 27H2.7ZM13.725 3.6H4.275C3.90375 3.6 3.6 3.90375 3.6 4.275V20.025C3.6 20.3963 3.90375 20.7 4.275 20.7H13.725C14.0962 20.7 14.4 20.3963 14.4 20.025V4.275C14.4 3.90375 14.0962 3.6 13.725 3.6ZM11.025 23.4H6.975C6.60375 23.4 6.3 23.7038 6.3 24.075V24.525C6.3 24.8963 6.60375 25.2 6.975 25.2H11.025C11.3962 25.2 11.7 24.8963 11.7 24.525V24.075C11.7 23.7038 11.3962 23.4 11.025 23.4Z" fill="#30233D"/>
                        </svg>(01) 666 - 693 - 456</a>
                    </li>
                </ul>
                <div class="about-nav__menu d-flex flex-column">
                    <p onclick="myMenu()">
                        <svg  width="5vmin" height="5vmin" viewBox="0 0 27 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="25" height="2" fill="#30233D"/>
                            <rect y="7" width="25" height="2" fill="#30233D"/>
                            <rect x="9" y="14" width="16" height="2" fill="#30233D"/>
                        </svg>
                    </p>
                    <ul class="filter-dropdown d-flex flex-column">
                        <li class="myTog1 nav__home list--style"><a href="">Home</a></li>
                        <li class="myTog2 nav__services list--style"><a href="">Services</a></li>
                        <li class="myTog3 nav__work list--style"><a href="">Work</a></li>
                        <li class="myTog4 nav__about list--style"><a href="">About</a></li>
                        <li class="myTog5 nav__number list--style"><a href="">
                        <svg width="3vmin" height="3vmin" viewBox="0 0 18 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.6 5.4V18.9H5.4V5.4H12.6ZM15.3 0H2.7C1.20938 0 0 1.20938 0 2.7V26.1C0 27.5906 1.20938 28.8 2.7 28.8H15.3C16.7906 28.8 18 27.5906 18 26.1V2.7C18 1.20938 16.7906 0 15.3 0ZM2.7 27C2.205 27 1.8 26.595 1.8 26.1V2.7C1.8 2.205 2.205 1.8 2.7 1.8H15.3C15.795 1.8 16.2 2.205 16.2 2.7V26.1C16.2 26.595 15.795 27 15.3 27H2.7ZM13.725 3.6H4.275C3.90375 3.6 3.6 3.90375 3.6 4.275V20.025C3.6 20.3963 3.90375 20.7 4.275 20.7H13.725C14.0962 20.7 14.4 20.3963 14.4 20.025V4.275C14.4 3.90375 14.0962 3.6 13.725 3.6ZM11.025 23.4H6.975C6.60375 23.4 6.3 23.7038 6.3 24.075V24.525C6.3 24.8963 6.60375 25.2 6.975 25.2H11.025C11.3962 25.2 11.7 24.8963 11.7 24.525V24.075C11.7 23.7038 11.3962 23.4 11.025 23.4Z" fill="#30233D"/>
                        </svg>(01) 666 - 693 - 456</a></li> 
                    </ul>
                </div>
            </nav>
        </div>
        <div class="about-header__bottom">
            <h1 class="about-header__bottom__h1">About us</h1>
            <p class="about-header__bottom__p">WE BUILD GREAT BUSINESS</p>
        </div>
    </header>
    <main class="about-main">
        <h4 class="about-main__h4">What we do</h4>
        <p class="about-main__p1">Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle.</p>
        <div class="about-main__bottom d-flex flex-row justify-content-between">
            <div class="about-main__bottom__left">
                <h5 class="about-main__bottom__left__h5">Our objectives</h5>
                <p class="about-main__bottom__left__p2">Amet consectetur adipiscing elit pellentesque habitant morbi. Fermentum et sollicitudin ac orci phasellus. Dolor sit amet consectetur adipiscing elit duis. Euismod quis viverra nibh cras pulvinar mattis nunc sed blandit.</p>
            </div>
            <div class="about-main__bottom__right">
                <h5 class="about-main__bottom__right__h5">Our story</h5>
                <p class="about-main__bottom__right__p2">Etiam dignissim diam quis enim lobortis. Egestas sed sed risus pretium quam vulputate dignissim. Eleifend quam adipiscing vitae proin sagittis. Pharetra pharetra massa massa ultricies. Elementum eu facilisis sed odio morbi. Morbi tincidunt augue interdum velit.</p>
            </div>
        </div>
    </main> 
</div>
    <script>
        var el1 = document.querySelector(".myTog1");
        var el2 = document.querySelector(".myTog2");
        var el3 = document.querySelector(".myTog3");
        var el4 = document.querySelector(".myTog4");
        var el5 = document.querySelector(".myTog5");
        function myMenu() {
            return el1.classList.toggle("tog"), el2.classList.toggle("tog"), el3.classList.toggle("tog"), el4.classList.toggle("tog"), el5.classList.toggle("tog");
        }
    </script>

