

<div class="card-section">
    <section class="blank1">
        <div class="blank1__content">

        </div>
    </section>
    <section class="card">
        <div class="card card__photos">

            <img src="https://res.cloudinary.com/john-pels/image/upload/v1568628373/team-rebel/Home-01/Ellipse.png" alt="center-image" class="card-center-image img-responsive">


            <i class="fa fa-quote-left card__photos-fa"></i>
            <h3 class="card__photos-h3"> Lectus arcu bibendum at varius. Adipiscing <br> diam donec adipiscing tristique. </h3>
            <p class="card__photos-tagline"><span><strong>Kerry Johnes</strong></span> &mdash; Some Company</p>

            <div class="card-positioned-images image-1"></div>
            <div class="card-positioned-images image-2"></div>
            <div class="card-positioned-images image-3"></div>
            <div class="card-positioned-images image-4"></div>
            <div class="card-positioned-images image-5"></div>
            <div class="card-positioned-images image-6"></div>
            <div class="card-positioned-images image-7"></div>
            <div class="card-positioned-icon"><i class="fa fa-arrow-left"></i><i class="fa fa-arrow-right"></i></div>


        </div>
        <div class="card__newsletter">
            <h3 class="card__newsletter-h3">Subcribe to our newsletter</h3>
            <p class="card__newsletter-p">Cras pulvinar mattis nunc sed blandit.</p>
            <form action="" method="get" class="card__newsletter-form">
                <input type="email" placeholder="Enter Email" class="card__newsletter-input"> <br>
                <button class="card__newsletter-button">Subscribe <i class="fa fa-arrow-right button-fa"></i></button>
            </form>
        </div>
    </section>

    
</div>

