<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Reusable Card Section</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <section class="blank">
        <div class="blank--content">

        </div>
    </section>
    <section class="card">
        <div class="card card-photos">

            <img src="https://res.cloudinary.com/john-pels/image/upload/v1568628373/team-rebel/Home-01/Ellipse.png" alt="center-image" class="card-photos card-center-image img-responsive">


            <i class="fa fa-quote-left card-photos-fa"></i>
            <h3 class="card-photos-h3"> Lectus arcu bibendum at varius. Adipiscing <br> diam donec adipiscing tristique. </h3>
            <p class="card-photos-tagline"><span><strong>Kerry Johnes</strong></span> &mdash; Some Company</p>

            <div class=" card-positioned-images image-1"></div>
            <div class=" card-positioned-images image-2"></div>
            <div class=" card-positioned-images image-3"></div>
            <div class=" card-positioned-images image-4"></div>
            <div class=" card-positioned-images image-5"></div>
            <div class=" card-positioned-images image-6"></div>
            <div class=" card-positioned-images image-7"></div>
            <div class="card-positioned-icon"><i class="fa fa-arrow-left"></i><i class="fa fa-arrow-right"></i></div>


        </div>
        <div class="card card-newsletter">
            <h3 class="card-newsletter-h3">Subcribe to our newsletter</h3>
            <p class="card-newsletter-p">Cras pulvinar mattis nunc sed blandit.</p>
            <form action="" method="get" class="card-newsletter-form">
                <input type="email" placeholder="Enter Email" class="card-newsletter-input"> <br>
                <button class="card-newsletter-button">Subscribe <i class="fa fa-arrow-right button-fa"></i></button>
            </form>
        </div>
    </section>

    <script src="" async defer></script>
</body>

</html>