<div class="container-fluid banner">
  <div class="container client__banner">
      <p class="title-small client__banner--title what-we-do__primary ">what we do?</p>
      <h5 class="client__banner--text">Apparently we had reached a great height in the
          <br>atmosphere, for the sky was a dead black, and the stars
          <br>had ceased to twinkle.</h5>
  </div>
  <br><br>


          <div class="row">
              <div class="col-sm">
                  <i class="fas fa-atom card__icon--white"></i>
                  <h5 class="card__title">Research</h5>
                  <p class="card__ body  text-small">Eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque. Eu feugiat
                      pretium nibh ipsum consequat nisl vel pretium. </p>
              </div>
      
              <div class="col-sm">
                <i class="fas fa-atom card__icon--white"></i>
                  <h5 class="card__title">Marketing</h5>
                  <p class="card__body text-small">Eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque. Eu feugiat
                      pretium nibh ipsum consequat nisl vel pretium. </p>
                  </div>
  
              <div class="col-sm">
                  <i class="fas fa-atom card__icon--white"></i>
                  <h5 class="card__title">Results</h5>
                  <p class="card__body  text-small">Eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque. Eu feugiat
                      pretium nibh ipsum consequat nisl vel pretium. </p>
              </div>
          </div>
      </div>

      <script>
        $('.banner').addClass('background-purple-lighter');
        // $('.col-sm').addClass('border-white');
      </script>
