

 <div class="footer">
  <footer class="footer-section">
    <div class="row">
      <div class="col">
        <p class="footer-section__logo logo"> Looper</p>
        <p class="footer-section__logo--text text-small "> Eu augue ut lectus rcu bibendum arcu.</p>
      </div>
      <div class="col">
        <div class="menu">
          <ul class="menu__item ">
          <li class="menu__item--primary title-small">Menu</li>
           <a href="../html pages/about3.html"><li class="menu__item--secondary text-misc">Home3 </li></a>
           <a href="../html pages/about2.html"><li class="menu__item--secondary text-misc">About2</li></a>
           <a href="../html pages/about3.html"><li class="menu__item--secondary text-misc">About3 </li></a>
           <a href="../html pages/about4.html"><li class="menu__item--secondary text-misc">About4 </li></a>
           <a href="../html pages/gallery.html"><li class="menu__item--secondary text-misc">Gallery </li></a>
          </ul>
          <ul class="menu__item menu__item--services col">
           <li class="menu__item--primary title-small">Services</li>
           <a href="../html pages/service2.html"><li class="menu__item--secondary text-misc">Services </li></a>
           <a href="../html pages/contact.html"><li class="menu__item--secondary text-misc">Contact </li></a>
           <a href="../html pages/team1.html"><li class="menu__item--secondary text-misc">Team1 </li></a>
           <a href="../html pages/team2.html"><li class="menu__item--secondary text-misc">Team2 </li></a>
          </ul>
          <ul class="menu__item col">
          <li class="menu__item--primary title-small  c">Contact us</li>
           <a href=""><li class="menu__item--secondary text-small"><i class="fas fa-envelope"></i>&nbsp;contact@lop.com</li></a>
           <a href=""><li class="menu__item--secondary text-small"> <i class="fas fa-mobile"></i>&nbsp;&nbsp;856 - 693 - 456</li></a>
          </ul>
        </div>
      </div>
      <div class='col'>
        <p class="menu__item--primary title-small">follow us</p>
        <ul class='menu__item--contact-icons'>
        <a href=""><li><i class="fab fa-twitter"></i></li></a>
        <a href=""><li><i class="fab fa-facebook-square"></i></li></a>
        <a href=""><li><i class="fab fa-instagram"></i></li></a>
        <a href=""><li><i class="fab fa-youtube"></i></li></a>
        <a href=""><li><i class="fab fa-medium"></i></li></a>
        </ul>
    </div>
</div>
    <p class='u-text-center u-margin-top-medium'>&copy;2019 Lopper by team rebel. All right reserved.</p>
  </footer>
</div>

  
  
    


