


    <header class="home home__background home-background--image">
        <nav class="navbar navbar-expand-lg navbar-dark ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand logo" href="#">Looper</a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item nav-links ">
                        <a class="nav-link nav-links" href="#">Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-links" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-links" href="#">Work</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-links" href="#">About</a>
                    </li>

                </ul>
                <i class="fa fa-mobile" aria-hidden="true"></i>
                <p class="text-misc misc-text">(01) 666 - 693 - 456</p>
            </div>
        </nav>

        <p class="text-small scroll">Scroll to see more</p>

        <div class="icon">
            <p class="arrow-2">&#x2192</p>
        </div>
        <p class="title-medium text-one">
            what do we do ?
        </p>
        <h1 class="big__text">We grow <br>
            <span class="big__text--color">great business</span>
        </h1>
        <div class="bg">
            <p class="text-regular small-text">Velit laoreet id donec ultrices. Ut lectus arcu bibendum varius.</p>
        </div>
        <div class="arrow">
            <p class="Arrow">&#x2192</p>
        </div>
        <div class="background">
        </div>
   
</header>
