<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/main.css">
    <title>Our Client</title>
</head>

<body>
    <div class="client__background">
        <p class="text-small txt">what we do?</p>
        <h3 class="text-header">What we do more than you can imangine, belive us.</h3>
    </div>
    <div class="logos">
        <p class="text-small our-clients">Our Clients</p>
        <img class="client-logo" src="https://res.cloudinary.com/mideveloper/image/upload/v1568996824/Logos_qnx4i5.png"
            alt="Clients Logo">
    </div>
    <div class="leftside">
        <h4 class="leftside-text">We build great business</h4>
        <p class="text-regular leftside-quote">Nisl condimentum id venenatis a. Nec tincidunt praesent semper
            feugiat nibh sed pulvinar proin gravida. Sollicitudin tempor id eu nisl nunc.
        </p><br>

        <p class="text-regular">Adipiscing diam donec adipiscing tristique risus nec feugiat in fermentum. Pretium
            vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae.
        </p><br>
        <p class="text-regular"> Massa massa ultricies mi quis hendrerit dolor magna. Egestas dui id ornare arcu
            odio..</p>
    </div>
    <div class="client-banner">
        <p class="text-small txt-2">what we do?</p>
        <h5 class="client-text">Apparently we had reached a great height in the
            <br>atmosphere, for the sky was a dead black, and the stars
            <br>had ceased to twinkle.</h5>
    </div>

    <div class="text-box">
        <div class="box">
            <p class="nb">01</p>
            <p class="texty">Research</p>
            <p class="content">Eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque. Eu feugiat
                pretium nibh ipsum consequat nisl vel pretium. </p>
        </div>

        <div class="box">
            <p class="nb">02</p>
            <p class="texty">Marketing</p>
            <p class="content">Eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque. Eu feugiat
                pretium nibh ipsum consequat nisl vel pretium. </p>

        </div>

        <div class="box">
            <p class="nb">03</p>
            <p class="texty">Results</p>
            <p class="content">Eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque. Eu feugiat
                pretium nibh ipsum consequat nisl vel pretium. </p>

        </div>

    </div>
</body>

</html>