<div class="container-fluid testimonial">
        <div class="testimonial__section">
            <p class="quote-small testimonial__section--quote">“Apparently we had reached a great height in the atmosphere,
                for the
                <br> sky was a dead black, and the stars had ceased to twinkle.”</p>
            <p class="text-regular-bold testimonial__section--author">Andrew Slomka <span class="testimonial__section--company">- Some
                    Company</span> </p>
            <img class="testimonial__section--image"
                src="https://res.cloudinary.com/mideveloper/image/upload/v1569851474/Photo-right_be7v3q.png" alt="">
        </div>
    </div>
    
    
    <div class="container-fluid benefit__section">
        <div class="row">
            <div class="col-md-6 benefit">
                <div class="title-small benefit__section--title">BENEFITS</div>
                <h3 class="header benefit__section--subtitle">Shaping the future</h3>
                <p class="text-regular-bold benefit__section--smallquote">Eget nunc scelerisque viverra mauris in aliquam. Dignissim sodales ut eu sem
                    integer vitae. Libero nunc consequat interdum varius.</p>
                <p class="text-regular benefit__section--body">Magna sit amet purus gravida. Sit amet porttitor eget dolor morbi non.</p>
                <p class="text-regular benefit__section--body">Lectus vestibulum mattis ullamcorper velit sed ullamcorper.</p>
                <p class="text-regular benefit__section--body">Diam phasellus vestibulum lorem sed risus ultricies tristique nulla. Dui faucibus in
                    ornare quam viverra.</p>
                <p class="text-regular benefit__section--body">Diam phasellus vestibulum lorem sed risus ultricies tristique nulla. Dui faucibus in
                    ornare quam viverra.</p>
    
                    <a class="benefit__section--button" href="#">LEARN MORE</a>
            </div>
    
    
            <div class="col-md-6 benefit benefit__image">
                <img class="benefit__image--one" src="https://res.cloudinary.com/mideveloper/image/upload/v1569851474/Photo_nagict.png" alt="">
    
                <img class="benefit__image--two" src="https://res.cloudinary.com/mideveloper/image/upload/v1569851474/Photo-1_tssony.png" alt="">
            </div>
        </div>
    </div>
    
