<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
    <title>Document</title>
</head>

<body>

    <div class="container-fluid work__section">
        <div class="row">
            <div class="col-lg-12 text__part">
                <p class="title-small text__part--capital">WHAT WE DO?</p>
                <h3 class="text__part--small">What we do?</h3>
                <h5 class="text__part--body">
                    Upper prior hundred links approach reedy, was to the than
                    <br> and the ever somehow surprised known for every by of
                    <br> there until road.
                </h5>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md main__text">
                <p class="title-large main__text--number">01</p>
                <h5 class="main__text--title">Upper prior hundred links <br> approach reedy</h5>
                <p class="text-regular main__text--body">Upper prior hundred links approach reedy, was to the than and
                    the ever
                    somehow <br> surprised known for every by of there until road</p>
            </div>

            <div class="col-md">
                <img class="main-image" src="https://res.cloudinary.com/mideveloper/image/upload/v1569528895/Photo-1_lvj9z9.png"
                     alt="">
                   <div class="pink-rect rectangle"></div>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-md">
                <img class="main-image" src="https://res.cloudinary.com/mideveloper/image/upload/v1569841126/Photo-2_tlqpzm.png"
                     alt="">
                    <div class="cyan-rect rectangle"></div>
            </div>

            <div class="col-md main__text">
                <p class="title-large main__text--number">02</p>
                <h5 class="main__text--title">Upper prior hundred links <br> approach reedy</h5>
                <p class="text-regular main__text--body">Upper prior hundred links approach reedy, was to the than and
                    the ever
                    somehow <br> surprised known for every by of there until road</p>
            </div>
        </div>
   
        <div class="row">
            <div class="col-md main__text">
                <p class="title-large main__text--number">03</p>
                <h5 class="main__text--title">Upper prior hundred links <br> approach reedy</h5>
                <p class="text-regular main__text--body">Upper prior hundred links approach reedy, was to the than and
                    the ever
                    somehow <br> surprised known for every by of there until road</p>
            </div>

            <div class="col-md">
                <img class="main-image" src="https://res.cloudinary.com/mideveloper/image/upload/v1569528895/Photo_xegocc.png"
                     alt="">
                    <div class="darkblue-rect rectangle"></div>
            </div>
        </div>

    </div>

</body>

</html>