
<div class="container-fluid client_bg">
    <br><br>
    <br>
    <br>
    <br>
    <p class="text-small client__bg--title">what we do?</p>
    <h5 class="client__bg--text">Apparently we had reached a great height in the
        <br>atmosphere, for the sky was a dead black, and the stars
        <br>had ceased to twinkle.</h5>


    <div class="container-fluid">
        <div class="row u-margin-none">

            <div class="col-sm value_card">
                <p class="icon1 icon1__circle">
                    <i class="fa fa-atom icon1__circle--icon">
                    </i></p>
                <p class="value__card--title">Research</p>
                <p class="value__card--body">Eget nulla facilisi etiam dignissim diam quis enim lobortis
                    scelerisque. Eu
                    feugiat
                    pretium nibh ipsum consequat nisl vel pretium. </p>
            </div>

            <div class="col-sm value_card">
                <p class="icon1 icon1__circle">
                    <i class="fas fa-atom icon1__circle--icon">
                    </i></p>
                <p class="value__card--title">Marketing</p>
                <p class="value__card--body">Eget nulla facilisi etiam dignissim diam quis enim lobortis
                    scelerisque. Eu
                    feugiat
                    pretium nibh ipsum consequat nisl vel pretium. </p>
            </div>

            <div class="col-sm value_card">
                <p class="icon1 icon1__circle">
                    <i class="fa fa-atom icon1__circle--icon">
                    </i></p>
                <p class="value__card--title">Results</p>
                <p class="value__card--body">Eget nulla facilisi etiam dignissim diam quis enim lobortis
                    scelerisque. Eu
                    feugiat
                    pretium nibh ipsum consequat nisl vel pretium. </p>
            </div>
        </div>
    </div>
</div>

<script>
  $('.client_bg').addClass('background-purple-lighter');

</script>
