
<div class="container-fluid banner">
    <div class="client-banner  ">
        <p class="text-small txt-2">what we do?</p>
        <h5 class="client-text">Apparently we had reached a great height in the
            <br>atmosphere, for the sky was a dead black, and the stars
            <br>had ceased to twinkle.</h5>
    </div>
            <div class="row">
                <div class="col-sm col-lg-4">
                    <p class="card__number">01</p>
                    <p class="card__title">Research</p>
                    <p class="card__ body">Eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque. Eu feugiat
                        pretium nibh ipsum consequat nisl vel pretium. </p>
                </div>
        
                <div class="col-sm col-lg-4">
                    <p class="card__number">02</p>
                    <p class="card__title">Marketing</p>
                    <p class="card__body">Eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque. Eu feugiat
                        pretium nibh ipsum consequat nisl vel pretium. </p>
                    </div>
    
                <div class="col-sm col-lg-4">
                    <p class="card__number">03</p>
                    <p class="card__title">Results</p>
                    <p class="card__body">Eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque. Eu feugiat
                        pretium nibh ipsum consequat nisl vel pretium. </p>
                </div>
            </div>
        </div>
        <script>
          $('.banner').addClass('background-purple-light');
        
        </script>
  