<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Our Client</title>
</head>

<body>
<div class="container-fluid">
    <div class="testimonial__section">
        <p class="quote-small testimonial__section--quote">“Apparently we had reached a great height in the atmosphere,
            for the
            <br> sky was a dead black, and the stars had ceased to twinkle.”</p>
        <p class="text-regular-bold testimonial__section--author">Andrew Slomka <span class="testimonial__section--company">- Some
                Company</span> </p>
        <img class="testimonial__section--image"
            src="https://res.cloudinary.com/mideveloper/image/upload/v1569851474/Photo-right_be7v3q.png" alt="">
    </div>
</div>


<div class="container-fluid benefit__section">
    <div class="row">
        <div class="col-md-6">
            <div class="title-small benefit__section--title">BENEFITS</div>
            <h3 class="header benefit__section--subttitle">Shaping the future</h3>
            <p class="text-regular-bold benefit__section--smallquote">Eget nunc scelerisque viverra mauris in aliquam. Dignissim sodales ut eu sem
                integer vitae. Libero nunc consequat interdum varius.</p>
            <p class="text-regular">Magna sit amet purus gravida. Sit amet porttitor eget dolor morbi non.</p>
            <p class="text-regular">Lectus vestibulum mattis ullamcorper velit sed ullamcorper.</p>
            <p class="text-regular">Diam phasellus vestibulum lorem sed risus ultricies tristique nulla. Dui faucibus in
                ornare quam viverra.</p>
            <p class="text-regular">Diam phasellus vestibulum lorem sed risus ultricies tristique nulla. Dui faucibus in
                ornare quam viverra.</p>

                <a class="benefit__section--button" href="#">LEARN MORE</a>
        </div>


        <div class="col-md-6">
            <img src="https://res.cloudinary.com/mideveloper/image/upload/v1569851474/Photo_nagict.png" alt="">

            <img src="https://res.cloudinary.com/mideveloper/image/upload/v1569851474/Photo-1_tssony.png" alt="">
        </div>
    </div>
</div>


    <div class="container-fluid client__part">
        <div class="row">
            <div class="col-lg-12">
                <p class="text-small client__part--title">what we do?</p>
                <h4 class="client__part--body">What we do more than you can imangine, belive us.</h4>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-6 blue__bg">
                <h4 class="blue__bg--title">We build great business</h4>
                <p class="text-regular blue__bg--text">Nisl condimentum id venenatis a. Nec tincidunt praesent semper
                    feugiat nibh sed pulvinar proin gravida. Sollicitudin tempor id eu nisl nunc.
                </p>

                <p class="text-regular blue__bg--text">Adipiscing diam donec adipiscing tristique risus nec feugiat in
                    fermentum. Pretium
                    vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae.
                </p>
                <p class="text-regular blue__bg--text"> Massa massa ultricies mi quis hendrerit dolor magna. Egestas dui
                    id ornare arcu
                    odio..</p><br><br>
            </div>


            <div class="col-md-6 client__logo">
                <p class="text-small client__logo--title">Our Clients</p>
                <img class="client__logo--image"
                    src="https://res.cloudinary.com/mideveloper/image/upload/v1568996824/Logos_qnx4i5.png"
                    alt="Clients Logo">
            </div>


        </div>
    </div>

    <div class="container-fluid client__bg">
        <p class="text-small client__bg--title">what we do?</p>
        <h5 class="client__bg--text">Apparently we had reached a great height in the
            <br>atmosphere, for the sky was a dead black, and the stars
            <br>had ceased to twinkle.</h5>


        <div class="container-fluid">
            <div class="row">

                <div class="col-sm value__card">
                    <p class="value__card--number">01</p>
                    <p class="value__card--title">Research</p>
                    <p class="value__card--body">Eget nulla facilisi etiam dignissim diam quis enim lobortis
                        scelerisque. Eu
                        feugiat
                        pretium nibh ipsum consequat nisl vel pretium. </p>
                </div>

                <div class="col-sm value__card">
                    <p class="value__card--number">02</p>
                    <p class="value__card--title">Marketing</p>
                    <p class="value__card--body">Eget nulla facilisi etiam dignissim diam quis enim lobortis
                        scelerisque. Eu
                        feugiat
                        pretium nibh ipsum consequat nisl vel pretium. </p>
                </div>

                <div class="col-sm value__card">
                    <p class="value__card--number">03</p>
                    <p class="value__card--title">Results</p>
                    <p class="value__card--body">Eget nulla facilisi etiam dignissim diam quis enim lobortis
                        scelerisque. Eu
                        feugiat
                        pretium nibh ipsum consequat nisl vel pretium. </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>