<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Our Client</title>
</head>
<body><div class="container-fluid client__bg">
    <p class="text-small client__bg--title">what we do?</p>
    <h5 class="client__bg--text">Apparently we had reached a great height in the
        <br>atmosphere, for the sky was a dead black, and the stars
        <br>had ceased to twinkle.</h5>


    <div class="container-fluid">
        <div class="row u-margin-none">

            <div class="col-sm value_card">
                <p class="icon1 icon1__circle">
                    <i class="fa fa-atom icon1__circle--icon">
                    </i></p>
                <p class="value__card--title">Research</p>
                <p class="value__card--body">Eget nulla facilisi etiam dignissim diam quis enim lobortis
                    scelerisque. Eu
                    feugiat
                    pretium nibh ipsum consequat nisl vel pretium. </p>
            </div>

            <div class="col-sm value_card">
                <p class="icon1 icon1__circle">
                    <i class="fas fa-atom icon1__circle--icon">
                    </i></p>
                <p class="value__card--title">Marketing</p>
                <p class="value__card--body">Eget nulla facilisi etiam dignissim diam quis enim lobortis
                    scelerisque. Eu
                    feugiat
                    pretium nibh ipsum consequat nisl vel pretium. </p>
            </div>

            <div class="col-sm value_card">
                <p class="icon1 icon1__circle">
                    <i class="fa fa-atom icon1__circle--icon">
                    </i></p>
                <p class="value__card--title">Results</p>
                <p class="value__card--body">Eget nulla facilisi etiam dignissim diam quis enim lobortis
                    scelerisque. Eu
                    feugiat
                    pretium nibh ipsum consequat nisl vel pretium. </p>
            </div>
        </div>
    </div>
</div>
</body>
