<div class="what-we-do-stats u-text-center">
    <p class="what-we-do__primary title-small ">
        what we do

    </p>
    <h3 class='what-we-do-small'>What we do more than you can <br> imagine, believe us.</h3>
     </p>
      <h3 class='what-we-do-small'>Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle.</h3>
    <div class="row  row-stats u-margin-top-medium">
        <div class="col-lg-4">
            <h1 class='what-we-do-stats__primary'>15+</h1>
            <p class="title-small stats_text">Nobel prizes</p>
        </div>
        <div class="col-lg-4">
            <h1 class='what-we-do-stats__secondary'>33</h1>
            <p class="title-small stats_text">Nobel prizes</p>
        </div>
        <div class="col-lg-4">
            <h1 class='what-we-do-stats__tertiary'>12</h1>
            <p class="title-small stats_text">Nobel prizes</p>
        </div>
    </div>
</div>