
<div class="section-what-we-do u-margin-top-large">
  <div class="what-we-do">
    <p class="what-we-do__primary title-small">
      what we do
    </p>
    <h3 class="what-we-do__secondary">
      Make it easy with us
    </h3>
  </div>
</div>



<div class="container-fluid">
  <div class="row row-make-it-easy" id='row-what-we-do'>
    <div class="col-lg-9">
      <div class="row-container">
        
        <div class="row-container__col row row-primary">
          <h5 class="col-heading__primary">We build great <br>business</h5>
          <p class="col-heading__secondary text-regular">Id consectetur purus ut faucibus pulvinar elementum<br>
            integer enim. A arcu cursus vitae congue mauris <br>rhoncus aenean.</p>
        </div>
        <div class="row-container__col row row-secondary">
          <h5 class="col-heading__primary ">We build great <br>business</h5>
          <p class="col-heading__secondary text-regular">Id consectetur purus ut faucibus pulvinar elementum<br>
            integer enim. A arcu cursus vitae congue mauris <br>rhoncus aenean.</p>
        </div>
        <div class="row-container__col row row-tertiary">
          <h5 class="col-heading__primary">We build great <br> business</h5>
          <p class="col-heading__secondary text-regular">Id consectetur purus ut faucibus pulvinar elementum<br>
            integer enim. A arcu cursus vitae congue mauris <br>rhoncus aenean.</p>
        </div>
      </div>

    </div>
    <div class="col-lg-3 what-we-do--image">

    </div>
  </div>
</div>
