<div class="abt4-container-fluid">
    <div class="abt4-what-we-do u-margin-top-large">
        <div class="what-we-do">
            <p class="what-we-do__primary1 title-small">
                what we do
            </p>
            <h3 class="what-we-do__secondary">
                What we do
            </h3>
        </div>
    </div>
    <div class="container row" id='row-what-we-do'>


        <div class="col-lg-4 col-1">
            <h5 class="col-heading__primary1 ">We build great <br>business</h5>
            <h5 class="col-heading__primary1">We build great <br>business</h5>
            <h5 class="col-heading__primary1">We build great <br>business</h5>

        </div>

        <div class="col-lg-8 container-fluid col2">
            <article class='col-heading__secondary2 secondary2-1'>
                Id consectetur purus ut faucibus pulvinar elementum integer enim. A arcu cursus vitae congue mauris rhoncus aenean.
            </article>
            <article class='col-heading__secondary2 secondary2-2'>
                Enim neque volutpat ac tincidunt vitae. Malesuada nunc vel risus commodo viverra maecenas accumsan lacus vel. Odio morbi quis commodo odio aenean sed adipiscing diam donec. Nisi vitae suscipit tellus mauris a.
            </article>
            <article class='col-heading__secondary2 secondary2-3'>
                Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras. Eleifend donec pretium vulputate sapien nec sagittis.
            </article>
        </div>
        <div class='col-lg-4 image'>
        </div>
    </div>
</div>
</div>
<script>
    // $('.section-what-we-do').addClass('background-purple-lighter');
    // $('.secondary2-1').addClass('background-purple-lighter');
    // $('.secondary2-2').addClass('background-purple-light');
    // $('.secondary2-2').addClass('zoom');
    // $('.secondary2-3').addClass('background-purple-dark');
    // $('.image').addClass('what-we-do-image-3');
    // $('.col-heading__primary1').addClass('text-pink');
</script>