
    <div class="section-what-we-do u-margin-top-large">
        <div class="what-we-do">
          <p class="what-we-do__primary1 title-small">
            what we do
          </p>
          <h3 class="what-we-do__secondary">
            Make it easy with us
          </h3>
        </div>
      </div>


    <div class="container-fluid">
    <div class="container row" id='row-what-we-do'>
      <div class="col-lg-12 col-sm-12 col-3">
        <h5 class="col-heading__primary">We build great business</h5></div>

    <div class="col-lg-4 col-1">
        <h5 class="col-heading__primary1">We build great <br>business</h5>
        <h5 class="col-heading__primary1">We build great <br>business</h5>
        <h5 class="col-heading__primary1">We build great <br>business</h5>
    
    </div>

    <div class="col-lg-8 container-fluid col2">
        <article class='col-heading__secondary2' >
                Id consectetur purus ut faucibus pulvinar elementum integer enim. A arcu cursus vitae congue mauris rhoncus aenean.
        </article>
        <article class='col-heading__secondary2'>
                Id consectetur purus ut faucibus pulvinar elementum integer enim. A arcu cursus vitae congue mauris rhoncus aenean.  Id consectetur purus ut faucibus pulvinar elementum integer enim. 
        </article>
        <article class='col-heading__secondary2'>
            Id consectetur purus ut faucibus pulvinar elementum integer enim. A arcu cursus vitae congue mauris rhoncus aenean.
        </article>
    </div>
    <div class='col-lg-4 image'>
    </div>
</div>
</div>
</div>
<script>
    $('.section-what-we-do').addClass('background-pink');
    $('.col2').addClass('background-purple-lighter');
    $('.image').addClass('what-we-do-image-2');
    $('.col-heading__primary1').addClass('text-pink');
</script>
