<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/main.css">
  <script src="https://kit.fontawesome.com/570306a791.js"></script>
  <title>Lopper</title>
</head>

<body>
<div class="section-what-we-do u-margin-top-large">
  <div class="what-we-do">
    <p class="what-we-do__primary title-small">
      what we do
    </p>
    <h3 class="what-we-do__secondary">
      Make it easy with us
    </h3>
  </div>
</div>




<div class="container-fluid">
  <div class="row row-make-it-easy" id='row-what-we-do'>
    <div class="col-lg-9">
      <div class="row-container">
        
        <div class="row-container__col row row-primary">
          <h5 class="col-heading__primary">We build great <br>business</h5>
          <p class="col-heading__secondary text-regular">Id consectetur purus ut faucibus pulvinar elementum<br>
            integer enim. A arcu cursus vitae congue mauris <br>rhoncus aenean.</p>
        </div>
        <div class="row-container__col row row-secondary">
          <h5 class="col-heading__primary ">We build great <br>business</h5>
          <p class="col-heading__secondary text-regular">Id consectetur purus ut faucibus pulvinar elementum<br>
            integer enim. A arcu cursus vitae congue mauris <br>rhoncus aenean.</p>
        </div>
        <div class="row-container__col row row-tertiary">
          <h5 class="col-heading__primary">We build great <br> business</h5>
          <p class="col-heading__secondary text-regular">Id consectetur purus ut faucibus pulvinar elementum<br>
            integer enim. A arcu cursus vitae congue mauris <br>rhoncus aenean.</p>
        </div>
      </div>

    </div>
    <div class="col-lg-3 what-we-do--image">

    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
</script>
</body>
</html>
