// *********The card-section.html style starts here****************
.card-section {
    .blank {
        margin: 0;
        padding: 0;
        .blank__content {
            background: $color-secondary-400;
            width: 100%;
            height: 40vh;
            color: #FFF;
        }
    }
    .card {
        margin: 0;
        padding: 0;
        border: none;
        .card .card__photos {
            position: relative;
            background: $color-white;
            width: 100%;
            height: 40vh;
            border: none;
            @include desktop {
                width: 100%;
                height: 80vh;
            }
            @include tablet {
                width: 100%;
                height: 58vh;
            }
        }
        .card-positioned-images {
            @include desktop {
                position: absolute;
            }
            @include tablet {
                position: absolute;
            }
        }
        .card-positioned-images.image-1 {
            @include desktop {
                display: block;
                @include background-property("https://res.cloudinary.com/john-pels/image/upload/v1568628373/team-rebel/Home-01/Ellipse-1.png", normal, $violet-shadow);
                background-size: 9em 9em;
                @include position-property(absolute, 4.2em, 17em);
                width: 4.5em;
                height: 4.5em;
                @include border-radius(50%);
            }
            @include tablet {
                display: block;
                @include background-property("https://res.cloudinary.com/john-pels/image/upload/v1568628373/team-rebel/Home-01/Ellipse-1.png", normal, $violet-shadow);
                background-size: 8em 8em;
                @include position-property(absolute, 2.5em, 5em);
                width: 4.0em;
                height: 4.0em;
                @include border-radius(50%);
            }
            @include mobile {
                display: none;
            }
        }
        .card-positioned-images.image-2 {
            @include desktop {
                display: block;
                @include background-property("https://res.cloudinary.com/john-pels/image/upload/v1568628373/team-rebel/Home-01/Ellipse-7.png", normal, $pink-shadow);
                background-size: 9em 9em;
                @include position-property(absolute, 12em, 8em);
                object-position: center;
                width: 4em;
                height: 4em;
                @include border-radius(50%);
            }
            @include tablet {
                display: block;
                @include background-property("https://res.cloudinary.com/john-pels/image/upload/v1568628373/team-rebel/Home-01/Ellipse-7.png", normal, $pink-shadow);
                background-size: 8em 8em;
                @include position-property(absolute, 8em, 4em);
                object-position: center;
                width: 3.5em;
                height: 3.5em;
                @include border-radius(50%);
            }
            @include mobile {
                display: none;
            }
        }
        .card-positioned-images.image-3 {
            @include desktop {
                display: block;
                @include background-property("https://res.cloudinary.com/john-pels/image/upload/v1568628373/team-rebel/Home-01/Ellipse-2.png", normal, $green-shadow);
                background-size: 6em 6em;
                @include position-property(absolute, 10em, 25em);
                object-position: center;
                width: 2.2em;
                height: 2.2em;
                @include border-radius(50%);
            }
            @include tablet {
                display: block;
                @include background-property("https://res.cloudinary.com/john-pels/image/upload/v1568628373/team-rebel/Home-01/Ellipse-2.png", normal, $green-shadow);
                background-size: 6em 6em;
                @include position-property(absolute, 6.5em, 13em);
                object-position: center;
                width: 2.2em;
                height: 2.2em;
                @include border-radius(50%);
            }
            @include mobile {
                display: none;
            }
        }
        .card-positioned-images.image-4 {
            @include desktop {
                display: block;
                @include background-property("https://res.cloudinary.com/john-pels/image/upload/v1568628373/team-rebel/Home-01/Ellipse-4.png", normal, $green-shadow);
                background-size: 7em 7em;
                @include position-property-right(absolute, 10em, 23em);
                object-position: center;
                width: 3em;
                height: 3em;
                @include border-radius(50%);
            }
            @include tablet {
                display: block;
                @include background-property("https://res.cloudinary.com/john-pels/image/upload/v1568628373/team-rebel/Home-01/Ellipse-4.png", normal, $green-shadow);
                background-size: 7em 7em;
                @include position-property-right(absolute, 6em, 12em);
                object-position: center;
                width: 3em;
                height: 3em;
                @include border-radius(50%);
            }
            @include mobile {
                display: none;
            }
        }
        .card-positioned-images.image-5 {
            @include desktop {
                display: block;
                @include background-property("https://res.cloudinary.com/john-pels/image/upload/v1568628373/team-rebel/Home-01/Ellipse-5.png", normal, $pink-shadow);
                background-size: 7em 7em;
                @include position-property-right(absolute, 11em, 11em);
                object-position: center;
                width: 3em;
                height: 3em;
                @include border-radius(50%);
            }
            @include tablet {
                display: block;
                @include background-property("https://res.cloudinary.com/john-pels/image/upload/v1568628373/team-rebel/Home-01/Ellipse-5.png", normal, $pink-shadow);
                background-size: 7em 7em;
                @include position-property-right(absolute, 8em, 2em);
                object-position: center;
                width: 3em;
                height: 3em;
                @include border-radius(50%);
            }
            @include mobile {
                display: none;
            }
        }
        .card-positioned-images.image-6 {
            @include desktop {
                display: block;
                @include background-property("https://res.cloudinary.com/john-pels/image/upload/v1568628373/team-rebel/Home-01/Ellipse-3.png", normal, $violet-shadow);
                background-size: 9em 10em;
                @include position-property-right(absolute, 6em, 18em);
                object-position: center;
                width: 2.3em;
                height: 2.3em;
                @include border-radius(50%);
            }
            @include tablet {
                display: block;
                @include background-property("https://res.cloudinary.com/john-pels/image/upload/v1568628373/team-rebel/Home-01/Ellipse-3.png", normal, $violet-shadow);
                background-size: 9em 10em;
                @include position-property-right(absolute, 4em, 7em);
                object-position: center;
                width: 2.3em;
                height: 2.3em;
                @include border-radius(50%);
            }
            @include mobile {
                display: none;
            }
        }
        .card-positioned-images.image-7 {
            @include desktop {
                display: block;
                @include background-property("https://res.cloudinary.com/john-pels/image/upload/v1568628373/team-rebel/Home-01/Ellipse-6.png", normal, $green-shadow);
                background-size: 9em 10em;
                @include position-property-right(absolute, 2em, 11em);
                object-position: center;
                width: 3.5em;
                height: 3.5em;
                @include border-radius(50%);
            }
            @include tablet {
                display: block;
                @include background-property("https://res.cloudinary.com/john-pels/image/upload/v1568628373/team-rebel/Home-01/Ellipse-6.png", normal, $green-shadow);
                background-size: 9em 10em;
                @include position-property-right(absolute, 2em, 2em);
                object-position: center;
                width: 3.5em;
                height: 3.5em;
                @include border-radius(50%);
            }
            @include mobile {
                display: none;
            }
        }
        .card-positioned-icon {
            position: absolute;
            .fa-arrow-right {
                @include position-property(absolute, 18em, 60em);
                border: 1px solid $color-primary;
                color: $color-primary;
                padding: 0.6em;
                @include border-radius(50%);
                font-weight: 100;
                &:hover {
                    background: $color-primary;
                    transition: background .8s ease-in-out;
                    color: #FFF;
                    border: 1px solid #FFF;
                    cursor: pointer;
                }
                @include tablet {
                    display: none;
                }
                @include mobile {
                    display: none;
                }
            }
            .fa-arrow-left {
                @include position-property(absolute, 18em, 11em);
                background: $color-primary;
                color: #FFF;
                padding: 0.6em;
                @include border-radius(50%);
                font-weight: 100;
                &:hover {
                    background: #FFF;
                    transition: background .8s ease-in-out;
                    color: $color-primary;
                    border: 1px solid $color-primary;
                    cursor: pointer;
                }
                @include tablet {
                    display: none;
                }
                @include mobile {
                    display: none;
                }
            }
        }
        img.card-center-image {
            display: block;
            background: none;
            margin: -5em auto 0 auto;
            width: 13em;
            height: 13em;
            @include desktop {
                width: 20em;
                height: 20em;
            }
        }
        i.card__photos-fa {
            margin: -0.4em auto 0 auto;
            color: $color-primary;
            font-size: 3em;
            z-index: 2;
        }
        h3.card__photos-h3 {
            @include font-property($default-font-family-quote, .9em, normal, italic);
            text-align: center;
            line-height: 1.2em;
            @include desktop {
                @include font-property($default-font-family-quote, 1.3em, normal, italic);
                line-height: 1.5em;
            }
            @include tablet {
                @include font-property($default-font-family-quote, 1.3em, normal, italic);
                line-height: 1.7em;
                margin-top: 1.3em;
            }
        }
        .card__photos-tagline {
            text-align: center;
            font-size: 0.7em;
            padding-bottom: 3em;
            @include desktop {
                font-size: 1em;
            }
            @include tablet {
                font-size: 1em;
            }
        }
        .card__photos-tagline span {
            @include font-property($default-font-family, .8em, 800, normal);
            color: $color-primary;
        }
        .card__newsletter {
            width: 100%;
            height: 30vh;
            border: none;
            text-align: center;
            @include desktop {
                margin-top: 3.0em;
            }
        }
        h3.card__newsletter-h3 {
            @include font-property($default-font-family, 1.5em, 500, normal);
            @include desktop {
                @include font-property($default-font-family, 1.8em, 500, normal);
            }
        }
        p.card__newsletter-p {
            @include font-property($default-font-family, 0.7em, 500, normal);
            @include desktop {
                @include font-property($default-font-family, 1em, 500, normal);
            }
        }
        .card__newsletter-form {
            padding: 2em;
            @include desktop {
                width: 50%;
                display: inline-flex;
                margin: 0 auto;
            }
            @include tablet {
                padding: 0 10em;
            }
        }
        .card__newsletter-form input.card__newsletter-input {
            width: 100%;
            height: 3.0em;
            border-bottom: 2px solid $color-light-grey;
            border-top: none;
            border-right: none;
            border-left: none;
            outline: none;
        }
        input::placeholder {
            color: $text-color-grey;
            @include font-property($default-font-family, 0.7em, 800, normal);
            text-transform: uppercase;
            letter-spacing: 0.3em;
            line-height: 3.5em;
        }
        .card__newsletter-form button.card__newsletter-button {
            width: 100%;
            height: 3.6em;
            @include font-property($default-font-family, 0.7em, 800, normal);
            background: linear-gradient(180deg, rgba(242, 242, 242, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
            border: none;
            border-bottom: 2px solid $color-light-grey;
            margin-top: 0.7em;
            line-height: 3.5em;
            text-transform: uppercase;
            letter-spacing: 0.3em;
            color: $color-primary;
            &:hover {
                background: rgba(212, 187, 187, 0.5);
                transition: background .8s ease-in-out;
                cursor: pointer;
            }
            @include desktop {
                width: 70%;
            }
        }
        button.card__newsletter-button i.button-fa {
            border: 1px solid rgba(246, 16, 103, 0.5);
            box-sizing: border-box;
            padding: .5em;
            @include border-radius(50%);
            margin-left: 1.3em;
        }
    }
}

// *********The card-section.html style ends here****************