.header {
    width: 100%;
    height: 80vh;
    margin-top: 5vh;
    overflow-x: hidden;

    &__top {
        width: 100%;
        height: 10vh;
        background: $color-white;

        &__logo {
            margin-left: 10vw;
            font-family: $default-font-family;
            // @include text-style;
            color: $color-secondary-400;
        }

        .nav {
            margin-left: 10vw;
            width: 60vw;

            .list--style {
                list-style: none;
                margin-top: 1vh;
                margin-right: 5vw;
                background: #00F0B5;
                @include text-style;
            }

            .nav__menu {
                margin-top: 1vh;
                background: rgb(226, 19, 226);
                
            }
        }
    }

    .header__bottom {
        width: 100%;
        height: 65%;
        background: $color-secondary-200 url('https://res.cloudinary.com/john-pels/image/upload/v1568628209/team-rebel/About-01/Rectangle-header.png');
        background-blend-mode: multiply;
        background-size: 100%;
        background-repeat: no-repeat;

        .header__bottom__h1 {
            margin-top: 20vh;
            margin-left: 10vw;
            color: $color-primary;
        }

        .header__bottom__p {
            margin-top: 3vh;
            margin-left: 10vw;
            color: $color-light-grey;
            @include text-style;
        }
    }
    
}
