
.marker-large{
  color: $color-primary;
  opacity: 0.1;
  font-size:15rem;
  position:absolute;
  left: -7rem;
}


.contact-image{
  background: $color-primary url('https://res.cloudinary.com/john-pels/image/upload/v1568628315/team-rebel/Contact/Photo.png');
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  height: 61.2rem;
  // height: 40%;
padding: 0;


 
}

.icon-pink{
  color: $color-primary;
}
.section-contact{

 &__sub{
   margin: 5rem;
   
 }
 &__col2 {
  height: 66.5rem;
}
}
.address{
  color:#776C82;
}
.title-largee{
  font-family: $default-font-family;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 37px;

letter-spacing: 4px;
text-transform: uppercase;
}

.background-container{
  
}
.purple-dark{
  transform: translateX(211px);
  
  width: 75%;
  z-index: 2;
  margin-top: -39.2%;
  overflow-y: hidden;
  
}
.title-primary1{
padding: 2rem 4rem;
}
.input2{
  padding: 2rem;
}
.main1__btn {
  width: 15vw;
  height: 3.5vw;
  margin-top: 5%;
  margin-bottom: 10%;
  color: $color-white;
  background: $color-primary;
  border: 1px solid $color-primary;
  border-radius: 25vw;
  font-size: 2vmin;
  &:hover {
      background: lighten($color-primary, 10%)
  }
}
::placeholder{
  color: gray;
}
.col1{
 height: 70rem;
 padding: 0;
 overflow: hidden;
 background-color: $color-white;
}
.input2{
  width: 70%;
 padding: .7rem;
}
.purple-light{
  height:40rem;
  width:50vw;
 z-index: -2;
//  top: -10rem;

}

@include tablet-02{
  .purple-light{
    display: none;
  }
  .contact-image{
    height: 30.5rem;
    z-index: 0;
  }
  .section-contact{

    &__sub{
      margin: 0;
      
    }
   
    &__col2 {
    height: 59rem
  }
}
   .purple-dark{
    transform: translate(0);
    box-sizing: border-box;
    width: 100%;
    z-index: 2;
    margin-top: -50.2%;
    overflow-y: hidden;
    
  }
  .marker-large{
    left: -14rem;
  
  }

}

@include breakpoint(sm){
.contact-image{
  height: 18rem;
}



.title-primary1{
  padding: 2rem 2rem;
    margin: 0 auto;
    width: 800%;
  }
  .purple-light{
   display: none;
  }
  .purple-dark{
    transform: translate(0);
    width: 100%;
  
}
.section-contact{
  &__sub{
    width:700%;
    margin: 2rem;
  }
  &__col2{
    height: 30rem;
  }
}

}
