@media screen and (max-width: 600px) {
    .team-about-header__bottom {
            width: 100%;
            // height: 70%;
            background: $color-secondary-200 url('https://res.cloudinary.com/john-pels/image/upload/v1568628552/team-rebel/Team-01/Rectangle.png');
            background-blend-mode: multiply;
            background-size: 100%;
            background-repeat: no-repeat;

            &__h1 {
              margin-top: 7%;
              margin-left: 7%;
              font-size: 5vmin;
              font-family: $default-font-family;
              color: $color-primary;
              line-height: normal;
            }

            &__p {
              margin-left: 7%;
              margin-bottom: 4%;
              font-size: 3vmin;
              font-family: $default-font-family;
              color: $color-light-grey;
            }

    }
}

    .team-about-header__bottom {
        width: 100%;
        height: auto;
        background: $color-secondary-200 url('https://res.cloudinary.com/john-pels/image/upload/v1568628552/team-rebel/Team-01/Rectangle.png');
        background-blend-mode: multiply;
        background-size: 100%;
        background-repeat: no-repeat;

        &__h1 {
            margin-top: 7%;
            margin-left: 8%;
            font-size: 6vmin;
            line-height: normal;
            color: $color-primary;
        }

        &__p {
            margin-top: 1%;
            margin-bottom: 6.5%;
            margin-left: 8%;
            font-size: 2.5vmin;
            color: $color-white;
            
        }
    }
.team-main {
    width: 100%;
    &__p1 {
        margin-top: 10%;
        font-size: 2vmin;
        letter-spacing: 2px;
        color: $color-primary;
    }
    &__h4 {
        margin-top: 1%;
        font-size: 5vmin;
        color: $text-color-headers;
    }
    &__p2 {
        width: 32%;
        margin-bottom: 20%;
        font-size: 2.5vmin;
        text-align: center;
        color: $text-color-headers;
    }

    &__bottom {
        background: $color-secondary-400;

        &-up {
            width: 100%;
            margin-top: -10%;

            &-1, &-2, &-3 {

                .team-main__bottom-up-h5 {
                    color: white;
                    font-size: 4vmin;
                }
                .team-main__bottom-up-p2 {
                    color: $color-white;
                    letter-spacing: 2px;
                    font-weight: 200;
                    font-size: 3vmin;
                    opacity: 0.5;
                }
            }
        }

        &-down {
            width: 100%;
            margin-top: 15vmin;
            margin-bottom: 5%;

            &-1, &-2, &-3 {
                // background: yellow;

                .team-main__bottom-down-h5 {
                    color: white;
                    font-size: 4vmin;
                }
                .team-main__bottom-down-p2 {
                    color: $color-white;
                    letter-spacing: 2px;
                    font-weight: 200;
                    font-size: 3vmin;
                    opacity: 0.5;
                }
            }
        }

        .svg {
            width: 100%;
        }
        .team-images {
            width: 40vmin;
            height: auto;
        }

        @media screen and (max-width: 450px) {
            .team-main__bottom-up, .team-main__bottom-down {
                flex-direction: column !important;
                -ms-flex-direction: column !important;
                &-1, &-2, &-3 {
                    margin-bottom: 10vmin;
                }

                .svg {
                    width: 70%;
                }

                
            }

            .carousel {
                margin-bottom: 0;
            }
            .footer {
                margin-top: 5%;
            }
        }
    }

    .carousel {
        margin-bottom: 0;
    }

}
