.footer-section {
    padding: 7rem;
    background-color: $color-secondary-300;
    color: $color-white;
    overflow: hidden;
}

.menu {
    display: flex;
    a {
        text-decoration: none;
        color: $color-white;
    }
    li {
        list-style: none;
    }
    &__item {
        flex-direction: column;
        padding: 0 3rem 0 3rem;
        font-family: Mplus 1p Bold;
        font-style: normal;
        font-weight: bold;
        font-size: 12.6px;
        line-height: 28px;
        letter-spacing: 1px;
        &--primary {
            letter-spacing: .4rem;
            white-space: nowrap;
            text-transform: uppercase;
            display: inline-block;
            border-bottom: .01rem solid $color-primary;
            line-height: 2;
        }
        &--secondary {
            padding-top: 1rem;
            margin: auto;
        }
        &--contact-icons {
            display: flex;
            flex-direction: row;
            a {
                text-decoration: none;
                list-style: none;
                color: white;
                &:not(:first-child) {
                    padding-left: 2rem;
                }
            }
        }
    }
}

@include breakpoint(ss) {
    .menu {
        &__item {
            flex-direction: column;
            padding: 0 .6rem 0 .6rem;
            &:nth-child(2) {
                padding-right: 0.6rem;
            }
            &:last-child {
                padding-left: 0;
            }
            &--primary {
                letter-spacing: .2rem;
            }
        }
    }
    .footer-section {
        font-size: 0.7rem;
        flex-wrap: wrap;
        padding: 1rem;
        font-size: 0.7rem;
    }
    .row {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        align-content: center;
    }
}