header {
  background: linear-gradient(90deg, #5e239d 0%, rgba(196, 196, 196, 0) 56.77%),
    URL("https://res.cloudinary.com/mideveloper/image/upload/v1568649120/Rectangle_header_zftvh4.png");
  mix-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 30rem;
  
}
.background{
position: absolute;
width: 100%;
height: 30rem;
top: 0;
background:#30124E;
mix-blend-mode: multiply;
z-index: -2;

}

nav{
  z-index: 999;
}
.navbar{
  background:transparent;
  .navbar-brand{
    color: $color-white;
    margin-left: 9rem;
    margin-right: 9rem;
    position: relative;
          
  }
}
.navbar .navbar-brand{
  color: $color-white;
}
.navbar .navbar-brand:hover{
  color: $color-white;
}
.navbar-light .navbar-nav .nav-link{
  color: $color-white;
  margin-right: 3rem;
  
}
.navbar-light .navbar-nav .nav-link:hover{
  text-decoration: underline;
  color: $color-white;
  }
.text-one{
  color: $color-white;
  padding-left: 10rem;
  padding-top: 2rem;
  padding-bottom: .5rem;
}

.big__text{
  margin-left: 10rem;
  &--color{
    color: $color-primary;
      }
}

.bg{
  position: absolute;
width: 833px;
height: 80px;
border: 1px solid rgba(255, 255, 255, 0.25);
border-left: none;
box-sizing: border-box;
.small-text{
  position: absolute;
left: 147px;
margin-top: 1.4rem;
margin-left: 1rem;
color: $color-white;

}
}

.arrow{
  color: $color-white;
position: absolute;
border-radius: 50%;
.Arrow{
  position: absolute;
width: 38px;
height: 38px;
left: 762px;
top: 18px;
border-radius: 100px;
text-align: center;
padding-top: .2rem;

/* Colors/White */
border: 1px solid $color-white;
box-sizing: border-box;
}
}
.misc-text{
position: absolute;
width: 226px;
height: 31px;
left: 972px;
top: 22px;
}


.rect-1{
  position: absolute;
width: 27px;
height: 2px;
left: 1293px;
top: 40px;
background: $color-white;
}
.rect-2{
  position: absolute;
width: 27px;
height: 2px;
left: 1293px;
top: 35px;
background: $color-white;
}
.rect-3{
  position: absolute;
width: 18px;
height: 2px;
left: 1302px;
top: 45px;
background: $color-white;
}

.scroll{
  position: absolute;
width: 272px;
height: 28px;
left: 1175px;
top: 240px;
text-transform: uppercase;
transform: rotate(90deg);
color: $color-white;
}

.icon{
  
position: absolute;
width: 21px;
height: 46px;
left: 1300px;
top: 337px;
border: 1px solid $color-white;
border-radius: 40px;
.arrow-2{
  position: absolute;
width: 27px;
height: 0px;
left: 10px;
top: 27px;
color: $color-white;
transform: rotate(90deg);
}
}

@media screen and (max-width:768px){
  header{
    background: linear-gradient(90deg, #5e239d 0%, rgba(196, 196, 196, 0) 56.77%),
    URL("https://res.cloudinary.com/mideveloper/image/upload/v1568649120/Rectangle_header_zftvh4.png");
  mix-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: 100% 100%;
   height: 100%;
   width: 100rem;
   overflow-x: hidden;
  }
  .background{
    height: 100%;
    width: 100rem;
    top: 0;
  
  }
  .navbar{
    height: .2rem;
  }
  .navbar .navbar-brand{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .navbar-nav{
    margin-left: .5rem;
    display: flex;
  }
}