body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: auto;
      overflow-x: hidden;
}


.header__banner--image {
  position: relative;
  height: 100%;
  width: 100%;

  
}

.header__navbar {
  background: rgba($color-secondary-400, 0.8);
  position: absolute;
  width: 100%;
  height: 70px;
  top: 0;
  display: flex;
  font-weight: bold;
  &--logo {
    font-family: $default-font-family;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 43px;
    letter-spacing: 2px;
    margin-top: 12px;
    padding-right: 250px;
    padding-left: 100px;
    
      
  }
  
}
.nav-links {
    list-style: none;
    margin-top: 20px;
  }
.nav-links li {
    display: inline-block;
    padding: 0px 30px;
  }
  
  a {
    color: white;
    text-decoration: none;
    font-family: $default-font-family;
  }
  

.fas {
  margin-top: 20px;
  padding: 0px 50px;
  color: white;
}

.header__slogan {
  position: relative;
  top: -35rem;
  left: 5rem;
  color: white;
  &--small-text{
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 30px;
  
}
}
span{
    color: $color-primary;
    }
.border{
    // border: 1px solid black;
    border-left: 0;
   }
    .regular-text{
        position: absolute;
        top: 28rem;
        border: 1px solid $color-light-grey;
        border-left: 0;
        border-spacing: 10px;
        padding: 20px 0 20px 0;
        width: 55%;
        text-align: center;
        bottom: 21rem;
        color: $color-white;
        padding-bottom: 50px;

    }
    .box-2{
        position: relative;
        top: -30.9rem;
        width:50px;
        height:50px;
        border: 1px solid $color-white;
        border-radius:50%;
        left: 38rem;
      }
      
      
      .arrow-2{
       text-align:center;
        font-size: 20px;
        margin-top:1rem;
        color: $color-white;
      }

    // .arrow{
    //     border: 1px solid$color-light-grey;
    //     border-radius: 50%;
    //     padding: .4rem;
    //   color: $color-white;
             
    // }

    .small-text{
      transform: rotate(90deg);
      color: $color-white;
      text-transform: uppercase;
   position: absolute;
   right: 2rem;
   top: 10rem;

    }
    .arrow-box{
        margin:30px;
        padding:10px;
        border: 1px solid $color-white;
        width: 50px;
        height: 2px;
        border-radius:30px;
        position:relative;
        left: 15rem;
        bottom: 3rem;
        z-index: ;
     }

     .arrow-1{
         font-size: 28px;
         position: relative;
         top: -.9rem;
         text-align: center;
     }






    // .arrow-2{
    //     border: 1px solid $color-white;
    //     width: 100px;
    //     height: 10rem;
    //     border-radius: 50rem;
    //     color: $color-light-grey;
    // }