@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p&display=swap');

@import url('https://fonts.googleapis.com/css?family=Noticia+Text&display=swap');

$color-primary: #F61067;
$color-secondary-100:#5E239D;
$color-secondary-200:#3A0475;
$color-secondary-300:#30124E;
$color-secondary-400:#150433;
$color-tertiary:#00F0B5;
$color-tertiary-light:#6DECAF;
$color-white:#FCFCFC;
$color-light-grey:#F4F4ED;
$text-color-headers:#30233D;
$text-color-main-text:#776C82;
$text-color-grey:#9B94A3;
$color-error:#F0002B;
$color-success:#10F65E;
$color-warning:#F67110;
$color-info:#00A8F0;

$default-font-family:'M PLUS 1p', sans-serif;

$font-size-1: 2.5vmin;
$font-size-2: 3.2vmin;


@mixin margin-t-b-s($size) {
    margin-top: 5%;
    margin-bottom: 10%;
    font-size: $size;
}

%section-placeholder {
    width: 20%;
    margin-right: 7%;
}



*, *::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  overflow-x: hidden;
}
@media screen and (max-width: 450px) {
    $font-size-3: 4vmin;
    $font-size-4: 4.5vmin;

    %section-placeholder-sm {
        width: 90%;
        margin: 5%;
    }

    .main__p2 {
        width: 100% !important;
    }

    .flex-row {
        -ms-flex-direction: column !important;
        flex-direction: column !important;

        .main__top__1, .main__top__2, .main__top__3, .main__bottom__1, .main__bottom__2, .main__bottom__3 {
            @extend %section-placeholder-sm;
        }
        .main__bottom__1 {
            order: 1;
        }
        .main__bottom__2 {
            order: 0;
        }
        .main__bottom__3 {
            order: 2;
        }
    }

    .main__p3 {
        font-size: $font-size-3 !important;
    }

    .head--1, .head--2, .head--3, .head--4, .head--5, .head--6 {
        font-size: $font-size-4 !important;
    }

    .main__btn {
        width: 25vw !important;
        height: 5vw !important;
    }
}

.main {
    margin-top: 10%;
    width: 100%;
    margin-bottom: 10%;
    background: $color-secondary-400;


    &__p1 {
        margin-top: 10%;
        color: $color-primary;
    }
    &__h2 {
        color: $color-white;
    }
    &__p2 {
        width: 50%;
        text-align: center;
        color: $color-white;
        margin-bottom: 7%;

    }

    &__top {
        width: 100%;

         &__1, &__2, &__3 {
            font-family: $default-font-family;
            @extend %section-placeholder;

        }
    }

    &__bottom {
        margin: 5vmin 15vmin;
        width: 100%;

        &__1, &__2, &__3 {
            font-family: $default-font-family;
            @extend %section-placeholder;

        }
    }
   
    .main__p3 {
        color: $color-white;
        @include margin-t-b-s($font-size-1);
    }
    .head--1 {
        color: $color-tertiary;
        @include margin-t-b-s($font-size-2)
        
    }
    .head--2 {
        color: $color-primary;
        @include margin-t-b-s($font-size-2)
    }
    .head--3 {
        color: $color-warning;
        @include margin-t-b-s($font-size-2)
    }
    .head--4 {
        color: $color-warning;
        @include margin-t-b-s($font-size-2)
    }
    .head--5 {
        color: $color-tertiary;
        @include margin-t-b-s($font-size-2)
    }
    .head--6 {
        color: $color-primary; 
        @include margin-t-b-s($font-size-2)
    }

    &__btn {
        width: 15vw;
        height: 3.5vw;
        margin-top: 5%;
        margin-bottom: 10%;
        color: $color-white;
        background: $color-primary;
        border: 1px solid $color-primary;
        border-radius: 25vw;
        font-size: 2vmin;
    }
}